
#game-title {
    line-height: 0.95em;
    letter-spacing: -0.125em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#instruction {
    font-weight: 200;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background-color: rgba(21, 27, 53, 0.473);
}

html {
    font-size: 18px;
    background-image: url("../images/IMG_7325.JPG");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    /* font-family: "Stylish", sans-serif; */
    color: 3d405b;
  }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    font-size: 2.8em;
}
.fnStart {
    /* color: #e07a5f; */
    font-size: 1.5em;
}
.boxSet {
padding: 1.5em;
    /* background-color: rgba(84, 164, 203, 80%); */
    text-align: center;
    margin: auto;
}
.midBox {
    display: flex;
    flex-direction: column;
}
.guessBox {
    padding: 20px;
}
.Go {
    padding: 10px;
}
p {
    font-weight: 600;
    /* line-height: 20px; */
}

